# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/FE/dist
/FE/tmp
/FE/out-tsc

# dependencies
/FE/node_modules

# e2e tests:
FE/e2e

# profiling files
/FE/chrome-profiler-events.json
/FE/speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

#PYTHON
/be/__pycache__
