/******  LOGIN PAGE  ******/
* {
    transition: all .2s ease;
  }
  
  a {
    cursor: pointer;
    text-decoration: none;
  }
  
  .signup-container{
    height: 100vh;
    /*font-family: Verdana, sans-serif, monospace;*/
    background: linear-gradient(rgba(109, 141, 223, 0.85), rgba(109, 141, 223, 0.85)), url("./img/image.jpg") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    box-sizing: content-box;
    }
  
    .title {
      font-family: Roboto Mono, sans-serif;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 40px;
      color: #FCFCFC;
    }
    .form-content {
      display: flex;
      flex-direction: column;
      width: 75%;
      font-size: 16px;
      font-weight: 300;
      padding-left: 37px;
      padding-right: 37px;
      /*transition: opacity .5s ease, transform .5s ease;*/
      font-family: Roboto, sans-serif;
  }
  
    .form-styling {
      box-sizing: border-box; 
      padding: 10px 41px;
      height: 40px;
      width: 100%;
      padding-left: 15px;
      border-radius: 4px;
      margin-bottom: 12px;
      background: #ffffff;
      font-size: 18px;
      color: #7d6e6e;
      border: 2px solid #ffffff;
       height: 40px;
  }
    .form-styling::placeholder {
      /* padding-left: 15px; */
      font-size: 16px;
      color: #CECECE;
  }
  
  .form-styling:focus {
      border: 2px solid #0041C0;
  }
  
  .form-styling:invalid {
      content: "Email is required";
      color: #B00000;
      font-size: 20px;
  }
  .recovery-link {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    text-align: right;
    color: #FCFCFC;
    margin-bottom: 36px;
  }
  
  .btn {
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    color: #FCFCFC;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 41px;
    font-family: Open Sans, sans-serif;
    align-self: center;
    line-height: 24px;
    background: #0041C0;
  }
  
  .btn:hover {
    background: #2468EB;
  }
  
  .btn-title {
    font-size: 20px;
    color: #FCFCFC;
    border-radius: 4px;
    margin: 52px 0 24px 0;
    text-align: left;
  }
  
  .btn-login {
    height: 40px;
    width: 100%;
   
  }
  .btn-login:hover {
    cursor: pointer;
  }
  .btn-signup {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
  }
  
  
    .spinner {
      animation: spinner infinite .9s linear;
      height: 90%;
    }
    .spinner:focus{
      border:none;
    }
    @keyframes spinner {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    .form-error{
      color: #F42B4B;
      text-align: center;
    }
    @media screen and (max-width: 600px){
      .login-container{
        background: linear-gradient(rgba(109, 141, 223, 0.85), rgba(109, 141, 223, 0.85)), url("./img/mob-image.jpg") no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      .form-content {
        width: 80%;
    }
  
      .br::before{
        content: "";
        display: block;
        text-align: center;
    }
      
    }
    @media screen and (max-width: 350px){
      .form-content {
        width: 80%;
    }
      
    }